* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
}

.home-page {
  padding: 10rem 3rem 3rem 3rem;
  min-height: 100vh;
  background-color: rgb(23, 23, 46);
}

.home-page h1 {
  font-size: 4rem;
  color: white;
}

.home-page p {
  margin-top: 5rem;
  padding-left: 3rem;
  font-size: 1.8rem;
  color: rgb(229, 226, 226);
  line-height: 2.8rem;
}
