* { box-sizing: border-box; }

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0.5rem;
  list-style: none;
}

.grid-container li {
  border: solid #d7d7d7;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}

.grid-container button {
  display: inline;
  padding: 2.2rem 1rem;
  border: none;
  width: 100%;
  background-color: #e0e0e0;
}

.grid-container button:hover {
  background-color: #f8f7f7;
}

.grid-container button:active {
  background-color: #cecaca;
}

.grid-container li:nth-child(4n + 1) button,
.grid-container li:last-child button {
  background-color: #f5913e;
}

.grid-container li:nth-child(4n + 1) button:hover,
.grid-container li:last-child button:hover {
  background-color: #f1af79;
}

.grid-container li:nth-child(4n + 1) button:active,
.grid-container li:last-child button:active {
  background-color: #f77e1b;
}

#display {
  grid-column: 1/5;
  background: #858694;
  text-align: right;
  color: white;
  font-size: 3rem;
  height: 7rem;
  padding-right: 0.5rem;
}

#expression {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  display: block;
  font-size: 1.8rem;
  color: orange;
}

#number-input {
  margin-top: 0.2rem;
  display: block;
  font-size: 4rem;
}

.grid-container li:nth-child(18) {
  grid-column: 1/3;
}
