* { box-sizing: border-box; }

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.calc-page-container {
  display: flex;
  border: solid;
  padding-top: 5rem;
  height: 100vh;
  background-color: rgb(23, 23, 46);
}

.calc-page-container h1 {
  padding-left: 5rem;
  font-size: 3rem;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 50%;
  margin-inline: auto;
  list-style: none;
  padding: 5rem;
}

.grid-container li {
  border: solid  #eeecec;
  padding: 0;
  text-align: center;
}

.grid-container button {
  padding: 2.8rem 1rem;
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 15, 53);
  font-size: 2rem;
  color: white;
  font-family: sans-serif;
}

.grid-container button:hover {
  background-color: #858694;
}

.grid-container button:active {
  background-color: #cecaca;
}

.grid-container li:nth-child(4n + 1) button,
.grid-container li:last-child button {
  background-color: #c27c43;
}

.grid-container li:nth-child(4n + 1) button:hover,
.grid-container li:last-child button:hover {
  background-color: #f1af79;
}

.grid-container li:nth-child(4n + 1) button:active,
.grid-container li:last-child button:active {
  background-color: #f77e1b;
}

#display {
  grid-column: 1/5;
  background: #858694;
  text-align: right;
  color: white;
  font-size: 3rem;
  padding-right: 0.5rem;
}

#expression {
  margin: 0.2rem;
  display: block;
  height: 2rem;
  font-size: 1.8rem;
  color: orange;
}

#number-input {
  margin-top: 1rem;
  display: block;
  font-size: 4rem;
}

.grid-container li:nth-child(18) {
  grid-column: 1/3;
}
