* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
}

.home-page {
  margin-top: 10rem;
  margin-inline: 3rem;
}

.home-page h1 {
  font-size: 4rem;
}

.home-page p {
  margin-top: 5rem;
  font-size: 1.8rem;
}
